<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cadastro.Properties.Settings.bdclienteConnectionString"
            connectionString="Data Source=|DataDirectory|\bdcliente.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>